 @charset "UTF-8";

/*	@Data：2018-04-17
 *	@Author：冰红茶
 *	@用途：作为BaiduHomePage项目的样式表
 * 	@收获：积累了很多实战的项目经验，但是关于性能的提升有待加强
 *  @version 1.0
 */

		html,body {
			padding:0;
			margin:0;
		}

		/* 
		 * 取消列表样式 
		 */
		.noliststyle {
			display:inline-block;
			margin: 0;
			padding: 0;
			list-style:none;
		}

		/* top的盒子
		 * 提供下滑动条 
		 */
		.box {
			position:absolute;
			z-index:-1;
			top:0;
			bottom:0;
			left:0;
			right:0;
			overflow:auto;
		}

		/* top bar 
		 * padding-right:95px是为了不让最后的元素距离右栏的更多产品过进
		 */
		.top {
			padding-right:95px;
			min-width:1000px;
			height:30px;
			font-family: sans-serif;
			font-size: 12px;
			line-height:0px;
			border-bottom:solid 1px #e7e7e7;
		}

		/* top bar
		 * 所有链接
		 */
		.top a {
			padding: 0 0.5em;
			line-height: 30px;
			vertical-align: middle;	
			color: black;	
		}


		/* top bar
		 * weather bar
		 */				
		.weatherclick {
			display:inline-block;
			margin-left:15px;
			padding-right:7px;
			line-height:20px !important;
			text-decoration:none;
		}

		.weatherclick:hover {
			background:pink;
		}

		/* top bar
		 * weather bar
		 * weather icon 
		 */	
		.icon {
			display:inline-block;
			width:20px;
			height:20px;
			vertical-align:bottom;
			background:url("https://ss0.bdstatic.com/k4oZeXSm1A5BphGlnYG/icon/weather/aladdin/png_18/a0.png");
			background-repeat:no-repeat;
		}

		/* top bar
		 * weather bar
		 * weather quality 
		 */	
		.weatherquality	{
			color: #badc00;
			margin-left:7px;
			margin-right:7px;
		}

		/* top bar
		 * weather bar
		 * weather qualitynumber
		 * 后面的竖线，通过font-size控制高度；
		 */	
		.weatherqualitynumber:after {
			content:"";
			font-size:10px;
			border-right:solid 1px black;
			padding-left:1em;
		}


		/* toprightlist下拉列表 
		 * 右浮动，
		 * 设置高度，超过高度的隐藏
		 * 点击出现隐藏的内容
		 */
		.toprightlist {
			float: right;
			height: 30px;
			line-height: 30px;
			text-align: center;
			overflow: hidden;
		}

		.toprightlist:hover {
			overflow:visible;
			
		}

		/* toprightlist下拉列表 
		 * 等边三角形
		 * 通过边框的配合
		 */
		.triangle {
			width:0;
			border-bottom: solid 8px #999;
			border-left: solid 4px transparent;
			border-right: solid 4px transparent;
			margin-left: auto;
			margin-right: auto;
		} 

		/* toprightlist下拉列表 
		 * 双层三角形(外) 
		 * 与双层三角形(内)配合
		 */
		.outertriangle {
			width:0;
			border-bottom: solid 8px #999;
			border-left: solid 8px transparent;
			border-right: solid 8px transparent;
			margin-left: auto;
			margin-right: auto;
		}

		/* toprightlist下拉列表 
		 * 双层三角形(内) 
		 * 设置相对位置，置于上层，
		 * 用于覆盖双层三角形(内)和下面的下拉列表
		 */
		.innertriangle {
			position:relative;
			margin-top: -7px;
			margin-left: auto;
			margin-right: auto;
			width:0;
			border-bottom: solid 7px white;
			border-left: solid 7px transparent;
			border-right: solid 7px transparent;
		}
					
		/* toprightlist下拉列表 
		 * itembox 项目盒子
		 * 上移1px
		 * 便于被双层三角形(内)覆盖
		 */
		.toprightlist .itembox {
			display:inline-block;
			margin-top:-1px;
			line-height: 30px;
			text-decoration: none;
			border: solid 1px #999;
			box-shadow: 2px 2px 2px #999;
		}

		/* toprightlist下拉列表 
		 * itembox 项目盒子
		 * li列表
		 * 设置block，便于换行
		 */
		.toprightlist li {
			display: block;
			text-align: center;
		}

		.toprightlist li a {
			text-decoration: none;
		}

		/* top bar
		 * toprightlink
		 * 右浮动
		 */
		.toprightlink {
			float:right;
			font-size:14px;
			line-height:30px;
		}

		/* productbox
		 * 为了能获取窗口的高度，需要绝对定位
		 * 再加top:0;bottom:0;height100%
		 */
		.productbox {
			position:absolute;
			top:0;
			right:0;
			height:30px;
			width:85px;
			color:white;
			background:#398bfb;
			overflow:hidden;
		}

		.productbox:hover {
			float:none;
			bottom:0;
			height:100%;
			color:black;
			background:#f0f0f0;
		}

		/* productbox
		 * productupbox
		 * 为了能和top的下边界平齐
		 * 需要在高度上再加1px
		 */				
		.productupbox {
			width:100%;
			height:31px;
			line-height:30px;
			text-align:center;
		}

		/* productbox
		 * productupbox
		 * span
		 * 文字垂直对齐
		 */
		.productupbox span {
			font-size:13px;
			vertical-align:middle;
		}

		/* productbox
		 * productdownbox
		 * 高度是窗口跟随productbox的窗口高度
		 * 文字垂直对齐
		 */
		.productdownbox {
			height:100%;
			background:#f0f0f0;
			overflow:auto;
		}

		/* productbox
		 * productdownbox
		 * productdownboxcontent
		 * 外边距是为了避免productdownbox突然增加的滑动条扰动
		 */
		.productdownboxcontent {
			height:700px;
			width:65px;
			margin-left:10px;
			background:#f0f0f0;
		}

		.productdownboxcontent a {
			display: block;
			padding: 10px 0;
			font-size:12px;
			color: black;
			text-align: center;
			text-decoration: none;
			border-bottom: solid 1px #e7e7e7;
		}

		.productdownboxcontent a:first-child {
			margin-top: 10px;
			border-top: solid 1px #e7e7e7;
		}

		.logozone {
			margin: auto;
			margin-top:70px;
			height: 151px;
			line-height: 151px;
			width: 641px;
			text-align:center;
		}

		.logozone img {
			width:270px;
			height:129px;
			vertical-align: middle;
		}

		/* searchform
		 * 对于inline和inline-block，如果有空格或者换行，会反映在内容中就会有一个空格
		 * 如果要消除这样的空格，有种显示上比较优雅的方式，就是用注释（这是从张鑫旭大神那看来的）
		 * 或者在父元素设置font-size:0px;
		 * 又或者去掉代码中两个input间的空格；
		 * 对于input和button无法对齐的问题
		 * 解决办法：1，float：left；2，在button中加文字或者空白符号 3，加上vertical-align:middle; 4，vertical-align:top;
		 */
		.searchform {
			position:relative;
			margin:0px auto;
			width:641px;
			height:40px;	
			font-size:0px;
			text-align:left;
		}


		.searchinput {
			width: 523px;
			height: 20px;
			padding: 9px 7px;
			font-size: 16px;
			vertical-align:top;
			border: 1px solid #b8b8b8;
		}

		/* searchicon
		 * 对于这种使用图片背景的方法，好处是可以在CSS中直接使用url控制图片
		 *  https://www.cnblogs.com/wyw0304-/p/7693181.html
		 * 1，href (Hypertext Reference)网络资源的位置，浏览器识别当前资源是一个样式表，页面解析不会暂停（由于浏览器需要样式规则去画或者渲染页面，渲染过程可能会被被暂停）。这与把css文件内容写在<style>标签里不相同，因此建议使用link标签而不是@import来吧样式表导入到html文档里。
		 * 2，src (Source)属性仅仅 嵌入当前资源到当前文档元素定义的位置，在浏览器下载，编译，执行这个文件之前页面的加载和处理会被暂停。这个过程与把js文件放到<script>标签里类似。这也是建议把JS文件放到底部加载的原因。当然，img标签页与此类似。浏览器暂停加载直到提取和加载图像。
		 * 但是使用url也有一个不好的地方，就是会在元素框会有黑边，也不知道是什么原因，但是可以通过使用src加载一个小小的透明的图片来解决（据说是因为没有使用src或者使用空src导致的）
		 * 使用url还有一个不好的地方就是无法进行图片的方法和缩小
		 */
		.searchicon{
			position: absolute;
			top:0;
			right:111px;
			bottom:0;
			margin:auto;
			height: 16px;
			width: 18px;
			background: #fff url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/soutu/img/camera_new_5606e8f.png) no-repeat;
			background-image: -webkit-image-set(url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/soutu/img/camera_new_5606e8f.png) 1x,url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/soutu/img/camera_new_x2_fb6c085.png) 2x);
			background-image: -moz-image-set(url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/soutu/img/camera_new_5606e8f.png) 1x,url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/soutu/img/camera_new_x2_fb6c085.png) 2x);
			background-image: -o-image-set(url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/soutu/img/camera_new_5606e8f.png) 1x,url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/soutu/img/camera_new_x2_fb6c085.png) 2x);
			background-image: -ms-image-set(url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/soutu/img/camera_new_5606e8f.png) 1x,url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/soutu/img/camera_new_x2_fb6c085.png) 2x);
			cursor: pointer;
		}

		/* HTML中input和button解决等高不对齐的原因
		 * 原因：
		 * 1、button在高度计算上始终使用了Quirks模式。
		 * 2、在Quirks模式下，边框的计算是在元素的宽度内的，
		 * 而不像标准模式一样计算在外部，所以在text和button上同时设置边框就会得到button的高度比text小的现象。
		 * 3、button的高度包含边框的高度，而文本框text则不包含边框高度。
		 */
		.searchbutton {
			display: inline-block;
			cursor: pointer;
			margin:0;
			padding: 0;
			width: 102px;
			height: 40px;
			font-size: 16px;
			vertical-align:top;
			color: white;
			background-color: #38f;
			border: 0;
		}

		/* contentbox
		 * 这是一个热点新闻的盒子
		 * #e7e7e7这种颜色也是蛮常用的
		 */
		.contentbox {
			margin: auto;
			margin-top: 100px; 
			width: 896px;
			height: 404px;
		   	overflow: hidden;
			border: 1px solid #e7e7e7;
		}

		/* contentbox
		 * contentboxtopbar
		 * 这是一个热点新闻的盒子顶部的菜单栏
		 */
		.contentboxtopbar {
			height:40px;
			font-size: 0;
			line-height:0;
			border-bottom: 1px solid #e7e7e7;
		}

		/* contentbox
		 * 为了把.myfocus, .myrecommand, .mynavigation放在同一行 
		 * 于是使用display: inline-block;
		 */
		.myfocus, .myrecommand, .mynavigation{
			display: inline-block;
			zoom: 1;
			width: 80px;
			height: 40px;
			font-size: 14px;
			line-height:40px;
			color: #333;
			vertical-align:top;
			text-align: center;
			cursor: pointer;
		} 

		.myfocus {
			width: 124px;
		}

		.myrecommand {
			color:white;
			background:#9D9D9D;
		}

		.myfocuslogo {
			width: 17px;
			height: 17px;
			background: url(picture/myfocus_a2.png) no-repeat 1px 0 ;
			
		}


		.myfocus > *, .myrecommand > *, .mynavigation > * {
			vertical-align:middle;
		}

		.myfocus:hover, .myrecommand:hover, .mynavigation:hover {
			font-weight:bold;
			color:white;
			background:	#BEBEBE;
		}

		/* contentbox
		 * contentfocusbox
		 * “我的关注”盒子
		 */
		.contentfocusbox {
			display:inline-block;
			margin-top: 20px;
			margin-right: 5px;
			width:100%;
		}
						
		.contentfocusbox aside {
			float:right;
			display:inline-block;
			width:300px;
		}

		.title-text, .hot-refresh, .hot-refresh-text {
			color:black;
			text-decoration:none;
		}

		.title-text {
			font-size: 14px;
			font-weight: bold;
		}

		.hot-refresh {
			display: block;
			float: right;
			height: 22px;
			padding-top: 3px;
			padding-right: 30px;
			width: 60px;
			cursor: pointer;
		}

		/* contentbox
		 * contentfocusbox aside
		 * hot-refresh-icon的背景两个数值参数，表示的是内容框位置不变的情况下，把原来的图片向右和向下移动
		 * 负数则是向左和向上移动
		 */
		.hot-refresh-icon {
			width: 20px;
			height: 16px;
			background: url(https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/mantpl/img/news/news_88aeb6fe.png) no-repeat -23px -25px ;
			vertical-align: bottom;
		}

		.hot-refresh-text {
			font-size: 13px;
			width: 40px;
			text-align: center;
			white-space: nowrap;
		}

		.newslistul {
			float:left;
			padding-top:20px;
			padding-right:5px;
			width: 300px;
		}

		/*
		 * css中的zoom的作用https://zhidao.baidu.com/question/312417124.html
		 *		1、检查页面的标签是否闭合
		 *	不要小看这条，也许折腾了你两天都没有解决的 CSS BUG 问题，却仅仅源于这里。毕竟页面的模板一般都是由开发来嵌套的，而他们很容易犯此类问题。
		 *	快捷提示：可以用 Dreamweaver 打开文件检查，一般没有闭合的标签，会黄色背景高亮。
		 *	　　2、样式排除法
		 *	有些复杂的页面也许加载了 N 个外链 CSS 文件，那么逐个删除 CSS 文件，找到 BUG 触发的具体 CSS 文件，缩小锁定的范围。
			 *	　　对于刚才锁定的问题 CSS 样式文件，逐行删除具体的样式定义，定位到具体的触发样式定义，甚至是具体的触发样式属性。
		 *	　　3、模块确认法
		 *	有时候我们也可以从页面的 HTML 元素出发。删除页面中不同的 HTML 模块，寻找到触发问题的 HTML 模块。
		 *	　　4、检查是否清除浮动
		 *	其实有不少的 CSS BUG 问题是因为没有清除浮动造成的。养成良好的清除浮动的习惯是必要的，推荐使用 无额外 HTML 标签的清除浮动的方法（尽量避免使用 overflow:hidden;zoom:1 的类似方法来清除浮动，会有太多的限制性）。
		 *	　　5、检查 IE 下是否触发 haslayout
		 *	很多的 IE 下复杂 CSS BUG 都与 IE 特有的 haslayout 息息相关。熟悉和理解 haslayout 对于处理复杂的 CSS BUG 会事半功倍。推荐阅读 old9 翻译的 《On having layout》（如果无法翻越穿越伟大的 GFW，可阅读 蓝色上的转帖 ）
		 *	快捷提示：如果触发了 haslayout，IE 的调试工具 IE Developer Toolbar 中的属性中将会显示 haslayout 值为 -1。
		 *	　　6、边框背景调试法
		 *	故名思议就是给元素设置显眼的边框或者背景（一般黑色或红色），进行调试。此方法是最常用的调试 CSS BUG 的方法之一，对于复杂 BUG 依旧适用。经济实惠还环保^^
		 *	最后想强调一点的是，养成良好的书写习惯，减少额外标签，尽量语义，符合标准，其实可以为我们减少很多额外的复杂 CSS BUG，更多的时候其实是我们自己给自己制造了麻烦。希望你远离 BUG ，生活越来越美好
		 */
		.newslistli {
			float:left;
			display: inline-block;
			margin-right: 3px;
			zoom: 1;
			width: 145px;
			height: 34px;
		}

		.newslistli > * {
			vertical-align: middle;
		}
			

		.newslistli a {
			max-width: 113px;
			font-size: 14px;
			color: rgb(51, 51, 51);
			text-overflow:ellipsis;
			text-decoration:none;
		}

		.newslistli a:hover {
			color:#3399CC; 
			text-decoration:underline;
			font-weight:bold;
		}

		.contentfocusboxleftside {
			padding: 0px 25px;
			height:100px;
			font-size:0;
		}

		.contentfocusboxleftsidetop {
			font-size: 13px;
			color: rgba(0, 0, 0, 0.4);
		}

		.contentfocusboxleftsidetop > * {
			vertical-align:middle;
		}

		.line {
			display:inline-block;
			height: 0px;
			width: 172px;
			font-size: 0px;
			vertical-align:center;
			border-bottom: 1px solid rgb(226, 226, 226);
		}

		.baiduicon {
			margin: 0 6px 0 6px;
			height: 14px;
			width: 14px;
			background: url(picture/zhuazi2.png) no-repeat 1px 0;
		}

		.newstable {
			float: left;
			display:line-height;
			text-align: left;
			width: 535px;
		}

		/* hot-point
		 * 加一个圆角矩形边框
		 */
		.hot-point {
			padding: 0 2px;
		    font-size: 12px;
		    line-height: 12px;
		    color: #f13f40;
		    border: 1px solid #efb9b9;
		    border-radius: 3px;
		    -moz-border-radius: 3px;
		    -webkit-border-radius: 3px;
		}

		.newsrows1title, .newsrows2title  {
			width:100%;
			font-family: arial, 'Microsoft Yahei', '微软雅黑';
			font-size: 18px;
			line-height: 1em;
			color: #333;
			font-weight: bold;
			line-height: 53.6px;
			vertical-align:middle;
			text-decoration:none;
			text-overflow:ellipsis;
		}

		.newsrows2title  {
			line-height: 24px;
		}

		.newsrows1, .newsrows2{
			padding-top: 8px;
			border-bottom: 1px solid rgb(226, 226, 226);
		}

		/* .newsrows1picture
		 * font-size用于控制图片间距
		 */
		.newsrows1picture {
			font-size:3px;
		}


		.newsrows1 footer, .newsrows2 footer{
			padding-top: 10px;
			padding-bottom: 19px;
			height: 15px;
			line-height: 15px;
			font-size: 13px;
			color: rgba(0,0,0,0.4);
		}

		/* .newsrows1 footer img, .newsrows2 footer img
		 * 使用JS控制，当鼠标经过newsrows1或者newsrows2的时候，才会显示
		 */
		.newsrows1 footer img, .newsrows2 footer img {
			float:right;
			width: 19px;
			height: 15px;
			background: url(https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/mantpl/img/news/dustbin_new_41cbcb37.png) no-repeat 0 -19px;
			visibility: hidden;
		}

		.src-net, .src-time{
			margin-right: 10px;
			line-height: 15px;
			font-size: 13px;
			text-decoration: none;
			color: rgba(0,0,0,0.4);
		}

		/* newsrows2
		 * 计算值是table；
		 * 用于分栏，还有一个好处是便于建立多列等高布局；
		 */
		.newsrows2 {
			display: table;
			zoom: 1;
			min-height: 140px;
				overflow: hidden;
		}

		.newsrows2picture {
			display: table-cell;
			padding: 20px 0;
		    vertical-align: middle;
		    zoom: 1;
		}

		.newsrows2textzone {
			display: table-cell;
			padding-left: 21px;
		    zoom: 1;
		    width: 337px;
			vertical-align: middle;
		}

		.morebar {
		    padding-top: 20px;
		    margin:  auto;
		    cursor: pointer;
		    width: 90px;
		    height: 45px;
		    text-align: center;
		}


		.morebartext {
			font-size: 12px;
			color: #999;
		}

		/* morebartexttriangele
		 * 外三角采用relative，内三角采用绝对位置；
		 * 这样内三角可以覆盖外三角，使得呈现出来的是一个箭头
		 * 内三角的位置原本是要移动它本身的尺寸，这样就刚好把内外三角的尖角重合
		 * 然后再把内三角多移一个像素，就可以呈现一个变宽只有1像素的箭头
		 */
		.morebartexttriangele {
		    height: 18px;
		    width: 34px;
		    font-size: 0;
		    margin: 10px auto 0 auto;
		    border: 0;
		    font-size: 0;
		}

		.morebaroutertriangele {
			position: relative;
			margin: 0;
			padding: 0;
			width: 0;
			border: solid 16px  transparent;
			border-top: solid 16px black;
		}

		.morebarinnertriangele {
			position: absolute;
			top:-16px;
			left:-15px;
			margin: 0;
			padding: 0;
			width: 0;
			border: solid 15px transparent;
			border-top: solid 15px white;
		}

		.myfooter {			
		    margin: 70px auto;
		    color: #999;
		    zoom: 1;
		    font-size: 12px;
		    text-align: center; 
		}

		.myfooter *{
			vertical-align: middle;
			color: #999;
			line-height: 19px;
		}


		.ICPlogo {
			display: inline-block;
			width: 19px;
			height: 19px;
			background: #fff url(ICPlogo2.png) no-repeat 3px 0;
		}

		.sercuelogo {
			display: inline-block;
			width: 20px;
			height: 20px;
			background: #fff url(surcue2.png) no-repeat 3px 0;

		}

